<form action="#FIXME" class="instant-form">
<div class="zip-instant-quote-block">
<input type="text" placeholder="Enter Your ZIP Code" class="zip-instant-quote">
<span class="instanterror"></span>
 </div>
 <div class="submit">
 <input type="submit" value="GO" class="go-button">
 </div>
</form>