<header class="header">
<div class="header-top">Call 1-855-336-2465</div>
  <div class="wrapper">
    <div class="header-bottom">
      <h1 class="logo">
        <a href="/en-us/" title="Heating, Cooling, Plumbing">
          <img src="{{ metadata.logo }}" alt="{{ metadata.sitename }}" loading="lazy" />
        </a>
      </h1>
    </div>
  </div>
</header>