<header class="header">
<div class="header-top">
<div class="wrapper">
Call <a href="tel:1-855-336-2465" title="18553362465" target="_blank" class="tel-no">1-855-336-2465</a></div>
  </div>
    <div class="header-bottom">
      <div class="wrapper">
      <h1 class="logo">
        <a href="#FIXME" title="Homeserve">
          <img src="{{ metadata.logo }}" alt="{{ metadata.sitename }}" loading="lazy" />
        </a>
      </h1>
      <div class="breadcrumb-path">
      {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% for crumb in crumbs %}
  <a class="crumb" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
{% endfor %}
</div>
    </div>
  </div>
</header>