<div class="see-repair-plans">
    <h2>See repair plans for your home</h2>
    <form action="#FIXME" class="zipform">
        <div class="zip-repair-block">
        <input type="text" placeholder="Enter Your ZIP Code" class="zip-repair-plans">
        <span class="repairerror"></span>
        </div>
        <div class="submit">
        <input type="submit" value="VIEW PLANS" class="view-plans">
        </div>
    </form>
</div>