<div class="see-repair-plans">
    <h2>See repair plans for your home</h2>
    <form action="#FIXME" class="zipform">
        <input type="text" placeholder="Enter Your ZIP Code" class="zip-repair-plans">
        <input type="submit" value="VIEW PLANS">
    </form>
</div>